@using GarageBuddy.Common.Constants
@model ICollection<BrandListViewModel>

<section class="section">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Brands</h5>
        </div>
        <div class="card-body">
            <table id="brandTable" class="table table-striped table-hover" style="width:100%"></table>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $('#brandTable').dataTable({
            serverSide: true,
            responsive: true,
            searching: true,
            ordering: true,
            ajax: {
                url: "@Url.Action("BrandList", "Brand", new { Area = @GlobalConstants.AdminArea })",
                "data": function (data) {
                    data.includeDeleted = true;
                }
            },
            columns: [
                {
                    name: "BrandId",
                    data: "brandId",
                    title: "BrandId"
                },
                {
                    name: 'BrandName',
                    data: "brandName",
                    title: "Brand Name"
                },
                {
                    name: "CreatedOn",
                    data: "createdOn",
                    title: "Created On"
                },
                {
                    name: "IsDeleted",
                    data: "isDeleted",
                    title: "Active",
                    render: function (data) {
                        if (data) {
                            return `<span class="badge bg-danger">Inactive</span>`; 
                        } else {
                            return `<span class="badge bg-success">Active</span>`;
                        }
                    }
                },
                {
                    data: "brandId",
                    title: "Actions",
                    render: function (data, type, row) { 
                        return `
                        <a href='#' class='btn btn-danger' onclick=alert('${data}$'); >Delete</a>
                        <a href='@Url.Action("Edit", "Brand", new { Area = @GlobalConstants.AdminArea })/${data}' class='btn btn-primary'>Edit</a>
                    `;
                    },
                    sortable: false,
                    width: "15%"
                },
                {
                    data: "brandId",
                    title: "List Models",
                    render: function (data, type, row) {
                        return `<a href='@Url.Action("BrandModels", "Brand", new { Area = @GlobalConstants.AdminArea })/${data}' class='btn btn-info'>List Models</a>`;
                    },
                    sortable: false,
                    width: "10%"
                },


            ],
            //Auto refresh
            //initComplete: function () {
            //    const api = this.api();
            //    setInterval(function () {
            //        api.ajax.reload();
            //    }, 5000);
            //},
            lengthMenu: [
                [10, 25, -1],
                [10, 25, 'All']
            ],
            columnDefs: [
                { visible: false, targets: [0] },
                { className: "text-center", targets: [1] }
            ]
        });
    });
</script>

@section Scripts {
    <partial name="_DataTablesScriptsPartial" />
}
