@model ResetPasswordFormModel

@{
    Layout = "_LayoutClean";
    ViewData["Title"] = "Reset password";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-controller="User" asp-action="ResetPassword" method="post" class="my-4">
            <div class="form-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="@Model.Token" autocomplete="off" />
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <div class="form-group position-relative has-icon-left mb-4 mt-1">
                        <input type="text" class="form-control form-control" asp-for="@Model.Email"
                               placeholder="e-mail" autocomplete="email" aria-required="true" />
                        <div class="form-control-icon">
                            <i class="bi bi-envelope"></i>
                        </div>
                        <span class="form-text text-danger" asp-validation-for="@Model.Email"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <div class="form-group position-relative has-icon-left mb-4 mt-1">
                        <input type="password" class="form-control form-control" asp-for="@Model.Password"
                               placeholder="Password" autocomplete="new-password" aria-required="true" />
                        <div class="form-control-icon">
                            <i class="bi bi-lock"></i>
                        </div>
                        <span class="form-text text-danger" asp-validation-for="@Model.Password"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-12 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<partial name="_NotificationsPartial" />
