@model ErrorViewModel
@{
    ViewData["Title"] = Model.StatusCode.ToString() ?? "General Error";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <partial name="_FavIconPartial" />
    <link rel="stylesheet" href="~/themes/mazer/dist/assets/compiled/css/app.css" />
    <link rel="stylesheet" href="~/themes/mazer/dist/assets/compiled/css/error-403.css" />
</head>

<body>
    <script src="~/themes/mazer/dist/assets/static/js/initTheme.js"></script>
    <div id="error">
        <div class="error-page container">
            <div class="col-md-8 col-12 offset-md-2">
                <div class="text-center">
                    @if (Model.ImageUrl != null)
                    {
                        <img class="img-error" src="@Model.ImageUrl" alt="@Model.Title" />
                    }

                    <h1 class="error-title">@Model.Title</h1>
                    <p class="fs-5 text-gray-600">@Model.Message</p>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-lg btn-outline-primary mt-3">Go Home</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>