@using GarageBuddy.Common.Constants
@{
    ViewData["Title"] = "Vehicle Models";
    var ajaxUrl = @Url.Action("BrandModelList", "BrandModel", new { Area = @GlobalConstants.AdminArea });
    var idFilter = "";

    if (TempData[IdFilterName] != null)
    {
        idFilter = TempData[IdFilterName]?.ToString();
    }

}

<section class="section">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <h5 class="card-title">@ViewData["Title"]</h5>
            <a class="btn btn-success" asp-area="Admin" , asp-controller="BrandModel" asp-action="Create">Create New Vehicle Model</a>
        </div>
        <div class="card-body">
            <table id="brandModelTable" class="table table-striped table-hover" style="width:100%"></table>
        </div>
    </div>
</section>


<script>
    $(document).ready(function () {
        $('#brandModelTable').dataTable({
            serverSide: true,
            responsive: true,
            searching: true,
            ordering: true,
            ajax: {
                url: "@ajaxUrl",
                "data": function (data) {
                    data.includeDeleted = true;
                    data.id = "@idFilter";
                }
            },
            columns: [
                {
                    name: "Id",
                    data: "id",
                    title: "Id",
                    visible: false
                },
                {
                    name: 'BrandName',
                    data: "brandName",
                    title: "Brand Name"
                },

                {
                    name: 'ModelName',
                    data: "modelName",
                    title: "Model Name"
                },
                {
                    name: "CreatedOn",
                    data: "createdOn",
                    title: "Created On"
                },
                {
                    name: "IsDeleted",
                    data: "isDeleted",
                    title: "Active",
                    render: function (data) {
                        if (data) {
                            return `<span class="badge bg-danger">Inactive</span>`;
                        } else {
                            return `<span class="badge bg-success">Active</span>`;
                        }
                    }
                },
                {
                    data: "id",
                    title: "Action",
                    render: function (data, type, row) {
                        return `<a href = '@Url.Action("Edit", "BrandModel", new { Area = @GlobalConstants.AdminArea })/${data}' class= 'btn btn-primary'> Edit </a>`;
                    },
                    sortable: false,
                    width: "10%"
                }
            ],
            lengthMenu: [
                [10, 25, -1],
                [10, 25, 'All']
            ],
            columnDefs: [
                { className: "text-center", targets: [1] }
            ]
        });
    });
</script>

@section Scripts {
    <partial name="_DataTablesScriptsPartial" />
}