@model ICollection<GearBoxTypeServiceModel>

@{
    ViewData["Title"] = "Gearbox Types";
}

<section class="section">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <h5 class="card-title">@ViewData["Title"]</h5>
            <a class="btn btn-success" asp-area="Admin" asp-controller="GearboxType" asp-action="Create">Create New Gearbox Type</a>
        </div>
        <div class="card-body">
            <table id="gearboxTypeTable" class="table table-striped table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th>Gearbox Type Name</th>
                        <th>Created On</th>
                        <th>Modified On</th>
                        <th>Deactivated ?</th>
                        <th>Deactivated On</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var gearboxType in Model)
                    {
                        <tr>
                            <td>@gearboxType.GearboxTypeName</td>
                            <td>@gearboxType.CreatedOn</td>
                            <td>@gearboxType.ModifiedOn</td>
                            <td>@gearboxType.IsDeleted</td>
                            <td>@gearboxType.DeletedOn</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_DataTablesScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('#gearboxTypeTable').DataTable();
        });
    </script>
}