@model ICollection<FuelTypeServiceModel>

@{
    ViewData["Title"] = "Fuel Types";
}

<section class="section">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <h5 class="card-title">@ViewData["Title"]</h5>
            <a class="btn btn-success" asp-area="Admin" asp-controller="FuelType" asp-action="Create">Create New Fuel Type</a>
        </div>
        <div class="card-body">
            <table id="fuelTypeTable" class="table table-striped table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th>Fuel Type</th>
                        <th>Created On</th>
                        <th>Modified On</th>
                        <th>Active</th>
                        <th>Deactivated On</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var fuelType in Model)
                    {
                        <tr>
                            <td>@fuelType.FuelName</td>
                            <td>@fuelType.CreatedOn</td>
                            <td>@fuelType.ModifiedOn</td>
                            <td>
                                @if (@fuelType.IsDeleted)
                                {
                                    <span class="badge bg-danger">Inactive</span>
                                }
                                else
                                {
                                    <span class="badge bg-success">Active</span>
                                }
                            </td>
                            <td>@fuelType.DeletedOn</td>
                            <td>
                                <a class="btn btn-primary" asp-area="Admin" asp-controller="FuelType" asp-action="Edit" asp-route-id="@fuelType.Id">Edit</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_DataTablesScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('#fuelTypeTable').DataTable();
        });
    </script>
}