@model GarageCreateOrEditViewModel

@{
    ViewData["Title"] = "Edit Garage";
}

<section id="basic-vertical-layouts">
    <div class="row match-height">
        <div class="col-md-6 col-12 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">@ViewData["Title"]</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form asp-area="Admin" asp-controller="Garage" asp-action="Edit" class="form form-vertical" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label asp-for="@Model.Name"></label>
                                            <input type="text" class="form-control" asp-for="@Model.Name" placeholder="Garage Name">
                                            <span class="form-text text-danger" asp-validation-for="@Model.Name"></span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label asp-for="@Model.Address"></label>
                                            <input type="text" class="form-control" asp-for="@Model.Address" placeholder="Address">
                                            <span class="form-text text-danger" asp-validation-for="@Model.Address"></span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label asp-for="@Model.Email"></label>
                                            <input type="email" class="form-control" asp-for="@Model.Email" placeholder="Email">
                                            <span class="form-text text-danger" asp-validation-for="@Model.Email"></span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label asp-for="@Model.Phone"></label>
                                            <input type="text" class="form-control" asp-for="@Model.Phone" placeholder="Phone">
                                            <span class="form-text text-danger" asp-validation-for="@Model.Phone"></span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label asp-for="@Model.ImageUrl"></label>
                                            <input type="text" class="form-control" asp-for="@Model.ImageUrl" placeholder="Image URL">
                                            <span class="form-text text-danger" asp-validation-for="@Model.ImageUrl"></span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label asp-for="@Model.WorkingHours"></label>
                                            <input type="text" class="form-control" asp-for="@Model.WorkingHours" placeholder="Working Hours">
                                            <span class="form-text text-danger" asp-validation-for="@Model.WorkingHours"></span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label asp-for="@Model.Description"></label>
                                            <textarea class="form-control" asp-for="@Model.Description" placeholder="Description"></textarea>
                                            <span class="form-text text-danger" asp-validation-for="@Model.Description"></span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label asp-for="@Model.Coordinates"></label>
                                            <input type="text" class="form-control" asp-for="@Model.Coordinates" placeholder="Coordinates">
                                            <span class="form-text text-danger" asp-validation-for="@Model.Coordinates"></span>
                                        </div>
                                    </div>
                                    
                                    <div class="col-12">
                                        <div class="form-check">
                                            <div class="checkbox">
                                                <input type="checkbox" asp-for="@Model.IsDeleted" class="form-check-input form-check-danger">
                                                <label asp-for="@Model.IsDeleted" class="form-check-label"></label>
                                            </div>
                                        </div>
                                    </div>
                                    @if (Model.IsDeleted)
                                    {
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label asp-for="@Model.DeletedOn"></label>
                                                <input type="text" class="form-control" asp-for="@Model.DeletedOn" placeholder="Deleted On" readonly>
                                            </div>
                                        </div>
                                    }
                                    <div class="col-12 d-flex justify-content-between">
                                        <a asp-area="Admin" asp-controller="Garage" asp-action="Index" class="btn btn-secondary me-1 mb-1">
                                            <i class="bi bi-building"></i>
                                            Garages
                                        </a>
                                        <button type="submit" class="btn btn-primary me-1 mb-1">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
