@model GarageCreateOrEditViewModel

@{
    ViewData["Title"] = "Edit Garage";
}

<section id="basic-vertical-layouts">
    <div class="row match-height">
        <div class="col-md-6 col-12 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">@ViewData["Title"]</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form asp-area="Admin" asp-controller="Garage" asp-action="Edit" class="form form-vertical" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="@Model.Name">Garage Name</label>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input type="text" class="form-control" asp-for="@Model.Name" placeholder="Garage Name">
                                            <span class="form-text text-danger" asp-validation-for="@Model.Name"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="@Model.Address">Address</label>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input type="text" class="form-control" asp-for="@Model.Address" placeholder="Address">
                                            <span class="form-text text-danger" asp-validation-for="@Model.Address"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="@Model.Email">Email</label>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input type="email" class="form-control" asp-for="@Model.Email" placeholder="Email">
                                            <span class="form-text text-danger" asp-validation-for="@Model.Email"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="@Model.Phone">Phone</label>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input type="text" class="form-control" asp-for="@Model.Phone" placeholder="Phone">
                                            <span class="form-text text-danger" asp-validation-for="@Model.Phone"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="@Model.ImageUrl">Image URL</label>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input type="text" class="form-control" asp-for="@Model.ImageUrl" placeholder="Image URL">
                                            <span class="form-text text-danger" asp-validation-for="@Model.ImageUrl"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="@Model.WorkingHours">Working Hours</label>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input type="text" class="form-control" asp-for="@Model.WorkingHours" placeholder="Working Hours">
                                            <span class="form-text text-danger" asp-validation-for="@Model.WorkingHours"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="@Model.Description">Description</label>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <textarea class="form-control" asp-for="@Model.Description" placeholder="Description"></textarea>
                                            <span class="form-text text-danger" asp-validation-for="@Model.Description"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4"><div class="form-check"></div></div>
                                    <div class="col-md-8">
                                        <div class="form-check">
                                            <div class="checkbox">
                                                <input type="checkbox" asp-for="@Model.IsDeleted" class="form-check-input form-check-danger">
                                                <label asp-for="@Model.IsDeleted" class="form-check-label"></label>
                                            </div>
                                        </div>
                                    </div>
                                    @if (Model.IsDeleted)
                                    {
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="@Model.DeletedOn"></label>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <input type="text" class="form-control" asp-for="@Model.DeletedOn" placeholder="Deleted On" readonly>
                                            </div>
                                        </div>
                                    }
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <a href="#mapCollapse" class="btn btn-primary" id="getLocationBtn">Get Location</a>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input type="text" class="form-control" asp-for="@Model.Coordinates" id="coordinates" placeholder="Enter coordinates">
                                            <span class="form-text text-danger" asp-validation-for="@Model.Coordinates"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-1">
                                        <div class="accordion accordion-flush" id="mapAccordion">
                                            <div class="accordion-item">
                                                <div class="accordion-header" id="mapHeading">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#mapCollapse" aria-expanded="false" aria-controls="mapCollapse">
                                                        Show Map
                                                    </button>
                                                </div>
                                                <div id="mapCollapse" class="accordion-collapse collapse" aria-labelledby="mapHeading" data-bs-parent="#mapAccordion">
                                                    <div class="accordion-body">
                                                        <div id="mapContainer"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="col-sm-12 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary me-1 mb-1">Edit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section HeadScripts {
    <partial name="Map/_MapCollapseHeaderScriptsPartial" />
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="Map/_MapCollapseScriptsPartial" />
}
